{
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "plugins": [
    // "eslint-plugin-html",
    "eslint-plugin-vue"
  ],
  // "parser": "babel-eslint"
  // "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-new": "off",
    "no-unreachable":"off"
  }
}
